<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>CFI | Forum</title>
    <% include header.ejs %>
  </head>
  <body>
    <% include menuNav.ejs %>
    <div class="row mx-auto" style="margin-top:1%">
      <div class="md-form my-0" style="margin-left: auto;">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
      <button
        href="#!"
        class="btn btn-outline-success btn-md my-0 ml-sm-2"
        type="submit"
        style="margin-right: auto"
      >
        Search
      </button>
    </div>
  </body>
</html>
