<div id="mn_bg_nav">
  <nav class="navbar navbar-expand-lg fixed-top" id="mn_menu">
    <img
      src="/images/MainLogo.png"
      alt="logo"
      width="60px"
      height="60px"
      id="main_logo"
    />
    <a
      class="navbar-brand"
      href="#"
      style="font-weight: 700; color: #333942; margin-right: 5%;"
      >Iset Rades</a
    >
    <button
      class="navbar-toggler"
      id="resize-click"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="/images/55.PNG" alt="" height="30px" width="30px" />
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="clb-nav" href="/home">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clb-nav" href="/home#spacialRec"
            >تعريف النادي
          </a>
        </li>

        <li class="nav-item">
          <div class="btn-group">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              id="cls-s"
              style="font-size: 19px; font-weight: 800; padding: 7px 0px;"
            >
              انشطة النادي
            </button>
            <div
              class="dropdown-menu dropdown-menu-left animate slideIn"
              style="
                border-top: none;
                border-bottom: 5px #63a85a solid;
                box-shadow: 0 4px 2px -2px;
                font-size: 20px;
                border-radius: 0px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              "
            >
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/activities/workshops'"
              >
                دورات تكوينية
              </button>
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/activities/lectures'"
              >
                محاضرات
              </button>
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/activities/trips'"
              >
                رحلات علمية
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="btn-group">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              id="cls-s"
              style="font-size: 19px; font-weight: 800; padding: 7px 0px;"
            >
              المزيد
            </button>
            <div
              class="dropdown-menu dropdown-menu-left animate slideIn"
              style="
                border-top: none;
                border-bottom: 5px #63a85a solid;
                box-shadow: 0 4px 2px -2px;
                font-size: 20px;
                border-radius: 0px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
              "
            >
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/more/forum'"
              >
                بوابة النقاش
              </button>
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/more/docs'"
              >
                بحوث و مقالات
              </button>
              <button
                class="dropdown-item"
                type="button"
                onclick="window.location.href='/more/banking'"
              >
                بوابة الصيرفة
              </button>
            </div>
          </div>
        </li>
        <li>
          <select
            class="custom-select my-0 mr-sm-1"
            id="inlineFormCustomSelectPref"
          >
            <option value="1" style="font-size: 20px;">العربية</option>
            <option value="2">English</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</div>
